div.swal2-container div.swal2-popup {
  width: 28em;
}

.swal2-icon {
  margin: 1.6em auto 0;
}

.swal2-title {
  font-weight: 700;
  color: $gray-900;
  font-size: 28px;
}

.swal2-html-container {
  color: $gray-900;
  font-size: 16px;
  padding: 1em 1.5em 24px;
}

div.swal2-container button.swal2-styled {
  margin: 0;
}

.swal2-actions {
  border-top: 0.5px solid $gray-400;
  gap: 8px;
  padding: 0 1.5em;
  padding-top: 1.5em;
  margin: 0;
  width: 100%;

  @media screen and (max-width: 466px) {
    flex-direction: column;
  }
}

.swal-btn {
  width: 49%;
}

// 成功圖標的圓圈
div.swal2-icon.swal2-success .swal2-success-ring {
  border-color: rgba($primary, 0.3);
}

// 成功圖標的所有線條（包括 tip 和 long）
div.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: $primary;
}
