.notify-status {
  &__list {
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  &__list-item {
    cursor: pointer;

    &:hover {
      background-color: $primary;
      color: $white;
      font-weight: $font-weight-bold;
    }
  }

  &__result-clear {
    background-color: $gray-200;

    &:hover {
      background-color: $primary;
      color: $white;
      font-weight: $font-weight-bold;

      svg path {
        stroke: $white;
      }
    }
  }
}

.account-filter {
  .badge-square {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 18px;
    font-size: 12px;
    height: 18px;
    padding: 0;
    border-radius: 50%;
  }
}
