.interactive-title-ch {
  font-size: map-get($display-font-sizes, 3);
  line-height: 1;
  font-weight: $font-weight-bolder;

  position: relative;
  letter-spacing: -0.04em;
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    width: 105px;
    height: 118px;
    background-image: url("/assets/images/deco/guide-pen.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 190px;
    bottom: -5px;
    // transform: translateY(-100%);
  }

  @include media-breakpoint-up(lg) {
    font-size: map-get($display-font-sizes, 1);
    &::after {
      width: 133px;
      height: 150px;
      left: 235px;
    }
  }
}

.interactive-item {
  padding-block: map-get($spacers, 7);
  border-bottom: 1px solid $gray-400;

  &:first-child {
    border-top: 1px solid $gray-400;
  }

  .tips-deco {
    width: 24px;
    height: 4px;
  }

  ol {
    list-style-type: decimal;
    padding: 0 24px;
  }

  li {
    font-size: map-get($font-sizes, 6);
    font-weight: $font-weight-normal;
    @include media-breakpoint-up(lg) {
      font-size: map-get($font-sizes, 5);
      font-weight: $font-weight-medium;
    }
  }
}
