.contact {
  .contact-info {
    border-width: 4px 0px 0px 0px;
    border-style: solid;
    border-color: $deco-green;
    .contact-info-item {
      border-bottom: 1px solid $deco-green;
      border-left: 0px solid $deco-green;
      @include media-breakpoint-up(lg) {
        border-bottom: 0px solid $deco-green;
        border-left: 1px solid $deco-green;
      }
    }
  }
  .contact-content {
    padding-top: 80px;
    padding-bottom: 40px;
    @include media-breakpoint-up(lg) {
      padding-top: 248px;
      padding-bottom: 80px;
    }
  }
  .contact-title {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -2.56px;
    top: 84px;
    z-index: 1;
    @include media-breakpoint-up(lg) {
      top: -168px;
    }
  }
  .guide-contact-img {
    height: 231px;
    width: 100%;
    filter: brightness(0.9);
    @include media-breakpoint-up(lg) {
      height: 416px;
    }
  }
  .guide-contact-img-two {
    height: 351px;
    @include media-breakpoint-up(lg) {
      height: 416px;
    }
  }
  .contact-sm-btn {
    color: $deco-bright-green;
    &:hover {
      background: $deco-bright-green;
      border-radius: 8px;
      .contact-btn-text {
        color: $deco-green;
      }
      svg path {
        fill: $deco-green;
      }
    }
  }
  .arrow-right {
    display: inline-block;
    position: relative;
    width: 40%;
    @include media-breakpoint-up(xxl) {
      width: 65%;
    }
    height: 2px;
    background-color: $deco-bright-green;
  }

  .arrow-right::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid $deco-bright-green;
  }
  .contact-lg-btn {
    .contact-btn {
      color: $deco-bright-green;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
