.lh-account {
  line-height: 24px;
}

.accountModal.modal-content {
  input::placeholder {
    color: $gray-400;
  }
}

.avatar-img {
  width: 160px;
  height: 160px;
}

.avatar-update-photo {
  width: 130px;
}