$primary: #00503f;
$primary-100: #ebf1f0;
$primary-200: #99b9b2;
$deco-green: #576e22;
$deco-coral: #ff814a;
$deco-bright-green: #96ff00;
$deco-blue: #0000c2;
$deco-pink: #ffab91;
$danger: #ff3a55;

$gray-200: #eeeeee;
$gray-400: #c0c0c0;
$gray-700: #484848;
$gray-900: #121212;

$custom-colors: (
  'primary': $primary,
  'primary-100': $primary-100,
  'primary-200': $primary-200,
  'deco-green': $deco-green,
  'deco-coral': $deco-coral,
  'deco-bright-green': $deco-bright-green,
  'deco-blue': $deco-blue,
  'deco-pink': $deco-pink,
  'danger': $danger,

  'gray-200': $gray-200,
  'gray-400': $gray-400,
  'gray-700': $gray-700,
  'gray-900': $gray-900,
);

$theme-colors: map-merge($theme-colors, $custom-colors);
$grays: map-merge($grays, $custom-colors);
